/* public/style.css */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .date-container {
    background-color:lightcoral;
    color: black;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .day {
    font-weight: bold;
  }
  
.form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .form input {
    flex: 1;
    margin-right: 10px;
  }
  
  input[type="text"] {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  input[type="text"]:focus {
    outline: none;
    border-bottom-color: #4CAF50;
  }
  
  #submitBtn {
    padding: 8px 16px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #submitBtn:hover {
    background-color: #45a049;
  }
  
  #todos {
    margin-top: 20px;
  }
  
  .todo {
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .todo h3 {
    margin-top: 0;
  }
  
  .todo p {
    margin-bottom: 0;
  }
  
  .deleteBtn {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    padding: 5px 10px;
    background-color: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .deleteBtn:hover {
    background-color: #d32f2f;
  }
  @media screen and (max-width: 600px) {
    .form {
      flex-direction: column;
    }
  
    .form input {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    #submitBtn {
      width: 100%;
    }
  
    .todo {
      padding: 8px;
    }
  }